<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.razor.rates</string>
	<key>connections</key>
	<dict>
		<key>1562F99E-11A3-4FE4-BC9E-CB052FAF81C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>01C60AA3-0141-4EC6-90EE-FA44E282E38E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>36D37106-AAA9-4529-A787-585838D4F161</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74F58724-1153-431D-A88E-AC4674D439DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A65F9D5B-F915-4CC5-8BE0-EEBF48121023</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36D37106-AAA9-4529-A787-585838D4F161</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BCEE5606-E6DB-43EA-A486-2ACBCD827197</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F724C6DB-F64E-4BDE-8A2A-EF60AEE4A34F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kennedy Oliveira</string>
	<key>description</key>
	<string>Show and convert from currency rates</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Rates</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python rates.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ADC33603-4E0B-4BFE-9B86-92CC919B71AF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>rate</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Converting ...</string>
				<key>script</key>
				<string>python rates.py {query}</string>
				<key>subtext</key>
				<string>Convert rates from one of the many currencies available</string>
				<key>title</key>
				<string>Convert rates</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BCEE5606-E6DB-43EA-A486-2ACBCD827197</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F724C6DB-F64E-4BDE-8A2A-EF60AEE4A34F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ratesetcurrency</string>
				<key>subtext</key>
				<string>Enter your currency simbol like USD and hit ENTER</string>
				<key>text</key>
				<string>Set the default currency</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A65F9D5B-F915-4CC5-8BE0-EEBF48121023</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>2</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Your default currency was set to {query}</string>
				<key>title</key>
				<string>Rates</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>74F58724-1153-431D-A88E-AC4674D439DC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python rates.py --set-default-currency {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>36D37106-AAA9-4529-A787-585838D4F161</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "Alfred 2" to search "ratesetcurrency "
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>01C60AA3-0141-4EC6-90EE-FA44E282E38E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>rategetcurrency</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python rates.py --get-default-currency</string>
				<key>subtext</key>
				<string>Show the current currency setted as default. Hit ENTER for shotcut.</string>
				<key>title</key>
				<string>Gets the current currency</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1562F99E-11A3-4FE4-BC9E-CB052FAF81C1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>rateclear</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python rates.py --clear</string>
				<key>subtext</key>
				<string>Use this command when you get a new version, to clear old data.</string>
				<key>title</key>
				<string>Clears all the cached data</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>366C8EBD-D31C-44A6-8E63-90CF8838AE91</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01C60AA3-0141-4EC6-90EE-FA44E282E38E</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>1562F99E-11A3-4FE4-BC9E-CB052FAF81C1</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>366C8EBD-D31C-44A6-8E63-90CF8838AE91</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>36D37106-AAA9-4529-A787-585838D4F161</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>74F58724-1153-431D-A88E-AC4674D439DC</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>A65F9D5B-F915-4CC5-8BE0-EEBF48121023</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>ADC33603-4E0B-4BFE-9B86-92CC919B71AF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>BCEE5606-E6DB-43EA-A486-2ACBCD827197</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F724C6DB-F64E-4BDE-8A2A-EF60AEE4A34F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
